.hide{display: none}
.right{float: right}
#notice{margin-top: 15px}

.error-add-first-page, .error-add-page{display:none}

/*.wrap{position: relative; width: 130%}*/
.wrap{position: relative; width: 130%}

.wrap p.result-search-info{display: none; font-size: 14px; left: 360px; position: absolute; top: -2px; width: 400px}
.wrap a{text-decoration: none}
#browse_lost_pages{ clear: both; margin-top: 10px; width:100%}
#browse_lost_pages td{ padding-right: 50px }

p.search-box{margin-right: 5%}


.container-list{float: left; width: 95%; clear:none; overflow: auto}

th.manage-column a{ cursor:default }
th#title{width: 43%}
th#cb{width: 40px}
div.field-rename{display:none}
span.cross-delete{cursor: pointer; display: inline-block; background-image: url(img/cross_small_icon.png); width: 16px; height: 16px; margin-left: -20px; margin-bottom: -3px;}

.display-list .column-pages{width:49%}
.column-pages{width: 57%}
.column-tag{width: 4%}
.action-add-page{margin-top:10px !important}

.overlay_host{ width:0; height:0; position: relative; z-index:10; font-family: sans-serif; font-size: 12px; line-height: 1.4em;}

/* * */
th.check-column{ overflow: visible; width: 3em }

/* TODO : drop ending rule if bug checked as resolved*/
.overlay_host .button{ border-color: #BBB; color: #464646; vertical-align:middle;margin:0 5px 0 0;/*padding: 3px 12px;*/ }
.overlay_host .button-secondary{ vertical-align:middle }

.display-list #the-list td{padding: 7px 0px 8px}
#the-list td, #the-list .column-pages a{padding: 0 0 0 0}
#the-list td#no_page_row{ padding:20px; text-align: center }
#the-list td#no_page_row span{ padding-right:15px; font-size:125% }

th.sortable a, th.sorted a {padding: 7px 0px 8px}

.picto_red_tags, .picto_tags_inactive, .add-page-end{cursor:pointer}
.picto_red_tags{display: inline-block; width: 11px; height: 12px; background-image: url(../../img/red_tag.png)}
.tags_events{margin-top: 15px}
.picto_tags_inactive{display: inline-block; width: 11px; height: 12px; background-image: url(../../img/tag_inactive.png); margin-top: 15px}

/* Ajax Layer */
.container-list-big-loader{
	margin: 36px 0 0 0;
	width: 76%;
	height: auto;
	background-color: rgba(223, 223, 223, 0.5) ;
	position: absolute; 
	z-index: 1000; 
}

.apm-working-msg {
	position:relative;
	left:10px;
	top:10px;
	padding:3px;
	padding-left:18px;
	font-size: 12px;
	font-style: italic;
	color:#7a7a7a;
	background-image: url(img/ajax-spinner.gif);
	background-repeat: no-repeat;
}

/* Move and Add action layers */
.drop-container{position: absolute; display: none}
.drop-container, .drag-container-selected, .drag-container-add{background-color: rgba(255, 251, 204, 0.8)}
.drag-container-selected, .drag-container-add{position: absolute; display: none; width: 76%}
.drag-container-selected p, .drop-container p, .drag-container-add p{text-align: left; margin: 20px auto auto 20px;}

.action-go-page{display: inline-block}

/* Ajax Spinner */
th.big_loader{margin: 0; padding: 0; width: 64px; height: 74px}
div.big_loader{text-align:center; width: auto}
/*div.big_loader span{display: inline-block; width: 64px; height: 64px; background-image: url(../../img/bg-big-loading.gif)}*/

/* Casts shadow on the page slot left border */
.apm-depth-right{float: left; margin:0 10px 0 0; background-image: url(img/depth-right.jpg); width: 6px; height: 53px}

.check-column-tree{background-color: #dfdfdf}

/* Managing left margin following the page depth in the tree */
/*.apm-page-slot {min-height:53px;background:#fff;}*/ /* Title cell white background */
.apm-page-slot {min-height:53px;}


.apm-page-slot-margin_1{margin-left:16px;}
.apm-page-slot-margin_2{margin-left:36px;}
.apm-page-slot-margin_3{margin-left:56px;}
.apm-page-slot-margin_4{margin-left:76px;}
.apm-page-slot-margin_5{margin-left:96px;}

/* Containers for fold/unfold arrow and subpages icon */
.apm-has-subpages{min-height:47px;width:31px;padding:6px 0 0 10px;float:left;}
.apm-subpages-controls{display:none;} /* Controls for the Move layer */

.apm-page-slot-td {background:url(img/bg-page-slot-shadow-2.jpg) repeat-y;}

.apm-title-wrapper {padding-left:10px;padding-right:10px;display:table-cell;}

.apm-page-shadow-depth_1{background-position:-84px 0px}
.apm-page-shadow-depth_2{background-position:-64px 0px}
.apm-page-shadow-depth_3{background-position:-44px 0px}
.apm-page-shadow-depth_4{background-position:-24px 0px}
.apm-page-shadow-depth_5{background-position:-4px 0px}

.apm-row-actions {margin-bottom:20px;}

.unfold_node, .fold_node{display: inline-block; width: 13px; height: 12px;color:#fff; position:relative; /*z-index:100*/}
.unfold_node{background-image: url(img/unfold.png)}
.fold_node{background-image: url(img/fold.png)}
.picto-subpage{display: inline-block; background-image: url(img/has-subpage.png); width:14px; height: 12px}
.picto-unpublish, .picto-publish{display: inline-block; width: 7px; height: 7px}
.picto-unpublish{background-image: url(img/offline.png)}
.picto-publish{background-image: url(img/online.png)}

.view-actions{background-image: url(img/view-actions.jpg); width: 12px; height: 12px; display: inline-block; cursor:pointer}
.check-column span.view-actions{display: none}
.apm-grouped-action li a{display: block; padding: 3px; margin: 3px 0 3px 0}
.apm-grouped-action li a:hover{background-color: #eaf2fa}
.apm-grouped-action li a:focus{background-color: #eaf2fa}
.apm-sub-action, .apm-grouped-action{position: absolute; border: solid 1px #dfdfdf; background-color: #fff;-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.4);-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.4);box-shadow: 2px 2px 5px rgba(0,0,0,0.4);font-family: sans-serif;font-size: 12px;z-index:1500; display:none}
.apm-sub-action ul li{padding: 0px 3px}
.apm-sub-action ul, .apm-grouped-action ul{margin: 0}

/* Panel */
.panel-add-page, .panel-change-template{display: none}
.panel-count-page-checked{color: red; font-weight:900}
#add-page-model{width: 100%}
#position-radio-button input[type=radio]{margin:3px}

#left-panels-wrapper{position:relative}
.column-panel{width:18%; height: 390px; float: left;}
.column-panel{display:none}
.apm-panel{position: fixed; width:18%; margin-top:14px}
.apm-panel input[type=text]{width: 100%}
.apm-panel .form-buttons{margin-top: 10px}
.left-panel{margin: 5px}
span.add-page-end{float: right}
span.cross-close{display: inline-block; background-image: url(img/close.png); width: 14px; height: 15px}
.postbox{padding: 5px; margin-top: 0px; min-width:100px; width:225px; }
.postbox .hndle{cursor: default;}
.js .postbox .hndle{cursor: default;}
.display-count-page-checked{background: #e4e4e4; padding: 5px; font-weight: 900}
.label-template-list, .label-current-template{margin-bottom: 3px; font-weight: 900}
.label-add-page-panel{margin-bottom: 3px; font-weight: 900}
a.add-page-end{margin: 5px 15px 5px 0;}

div.template-list ul{border: solid 1px #dfdfdf}
div.template-list li a{display: block; cursor: pointer; padding: 5px}
div.template-list li a:hover{background-color: #eaf2fa}
div.template-list li a:active{background-color: #eaf2fa}

div.template-list ul{ height: 274px; overflow: auto; background-color: #fff; margin-top: 0px}
h3.hndle{margin: -5px;padding: 6px}

/* Pagination */
.tablenav .tablenav-pages{display:none}
.tablenav-pages a{font-size: 10px}
.pagination-wrapper{ display:inline }
div.container-pagination{float:right; margin: 0 0 10px 0; margin-right: 5%; display: none}
div.container-pagination-browse{float:right; margin: 5px 0 10px 0; margin-right: 5%;}
div.pagination-top{margin-top: -5px}
div.pagination-bottom{margin-top: 10px}
.tablenav .displaying-num{margin-right: 2px}
.nb-selected-rows-wrapper{float:right}

/* Grouped actions */
#apm-action-all-delete{color: #bc0b0b}
#apm-action-all-delete:hover{color: #f00}
